<!doctype html>
<title>Input Your Data</title>
<div class="file_input_section">
    <p>
        <h1>Input Your Data File or Use Our Sample</h1>
    </p>

    <form method = 'POST'>
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
    </form>

</div>


<!-- this should be hidden until file above is submitted-->
<div class="date_input_section">
    <div>
            <p>
                <h1>Input your start and end dates</h1>
            </p>
    </div>


    <div>
        <label for="start_month">Choose a starting month:</label>
        <select name="start_month" id="start_month">
            <option value="jan">January</option>
            <option value="feb">February</option>
            <option value="mar">March</option>
            <option value="apr">April</option>
            <option value="may">May</option>
            <option value="jun">June</option>
            <option value="jul">July</option>
            <option value="aug">August</option>
            <option value="sep">September</option>
            <option value="oct">October</option>
            <option value="nov">November</option>
            <option value="dec">December</option>
        </select>
        <label for="start_day">Choose a starting date:</label>
        <select name="start_day" id="start_day">
            <option value='1'>Begining</option>
            <option value='15'>Middle</option>
            <option value='31'>End</option>
        </select>
    </div>


    <div>
        <label for="end_month">Choose a ending month:</label>
        <select name="end_month" id="end_month">
            <option value="jan">January</option>
            <option value="feb">February</option>
            <option value="mar">March</option>
            <option value="apr">April</option>
            <option value="may">May</option>
            <option value="jun">June</option>
            <option value="jul">July</option>
            <option value="aug">August</option>
            <option value="sep">September</option>
            <option value="oct">October</option>
            <option value="nov">November</option>
            <option value="dec">December</option>
        </select>
        <label for="end_day">Choose a ending date:</label>
        <select name="end_day" id="end_day">
            <option value='1'>Begining</option>
            <option value='15'>Middle</option>
            <option value='31'>End</option>
        </select>
    </div>
</div>

<div class="graph_generation_section">
    <h1>Generate Your Graph</h1>
    <button type="button">Generate Graph</button>
</div>
